In [12]:
!pip install panda

Requirement already satisfied: panda in c:\users\saher raja\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\saher raja\anaconda3\lib\site-packages (from panda) (75.1.0)
Requirement already satisfied: requests in c:\users\saher raja\anaconda3\lib\site-packages (from panda) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saher raja\anaconda3\lib\site-packages (from requests->panda) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saher raja\anaconda3\lib\site-packages (from requests->panda) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saher raja\anaconda3\lib\site-packages (from requests->panda) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saher raja\anaconda3\lib\site-packages (from requests->panda) (2024.8.30)

In [13]:
import pandas as pd
print(pd.__version__)  # Visar den installerade versionen

2.2.2

In [14]:
import pandas as pd

# Läser in filen
file_path = r'C:\Programmering\Python Kurs\dataset_traffic_accident_prediction.csv'
data = pd.read_csv(file_path)

# Visar de första fem raderna
print(data.head())

  Weather   Road_Type Time_of_Day  Traffic_Density  Speed_Limit  \
0   Rainy   City Road     Morning              1.0        100.0
1   Clear  Rural Road       Night              NaN        120.0
2   Rainy     Highway     Evening              1.0         60.0
3   Clear   City Road   Afternoon              2.0         60.0
4   Rainy     Highway     Morning              1.0        195.0

   Number_of_Vehicles  Driver_Alcohol Accident_Severity      Road_Condition  \
0                 5.0             0.0               NaN                 Wet
1                 3.0             0.0          Moderate                 Wet
2                 4.0             0.0               Low                 Icy
3                 3.0             0.0               Low  Under Construction
4                11.0             0.0               Low                 Dry

  Vehicle_Type  Driver_Age  Driver_Experience Road_Light_Condition  Accident
0          Car        51.0               48.0     Artificial Light       0.0
1        Truck        49.0               43.0     Artificial Light       0.0
2          Car        54.0               52.0     Artificial Light       0.0
3          Bus        34.0               31.0             Daylight       0.0
4          Car        62.0               55.0     Artificial Light       1.0

In [15]:
import pandas as pd
import numpy as np  # För att använda np.nan för NaN-värde

# Skapar en DataFrame
df = pd.DataFrame({
    'Weather': ['Rainy', 'Clear', 'Rainy', 'Clear', 'Rainy'],
    'Road_Type': ['City Road', 'Rural Road', 'Highway', 'City Road', 'Highway'],
    'Accident_Severity': [np.nan, 'Moderate', 'Low', 'Low', 'Low']
}, columns=['Weather','Road_Type','Accident_Severity'])

# Visar DataFrame
print(df)

  Weather   Road_Type Accident_Severity
0   Rainy   City Road               NaN
1   Clear  Rural Road          Moderate
2   Rainy     Highway               Low
3   Clear   City Road               Low
4   Rainy     Highway               Low

In [16]:
df.columns

Index(['Weather', 'Road_Type', 'Accident_Severity'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Weather            5 non-null      object
 1   Road_Type          5 non-null      object
 2   Accident_Severity  4 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [19]:
df.size

15

In [20]:
df.describe()

       Weather  Road_Type Accident_Severity
count        5          5                 4
unique       2          3                 2
top      Rainy  City Road               Low
freq         3          2                 3

In [21]:
df.dtypes

Weather              object
Road_Type            object
Accident_Severity    object
dtype: object

In [22]:
df.dtypes.value_counts()

object    3
Name: count, dtype: int64

In [23]:
df

  Weather   Road_Type Accident_Severity
0   Rainy   City Road               NaN
1   Clear  Rural Road          Moderate
2   Rainy     Highway               Low
3   Clear   City Road               Low
4   Rainy     Highway               Low

In [24]:
df.loc[0]

Weather                  Rainy
Road_Type            City Road
Accident_Severity          NaN
Name: 0, dtype: object

In [25]:
df.iloc[-1]

Weather                Rainy
Road_Type            Highway
Accident_Severity        Low
Name: 4, dtype: object

In [26]:
df['Weather']

0    Rainy
1    Clear
2    Rainy
3    Clear
4    Rainy
Name: Weather, dtype: object

In [27]:
langs = pd.Series(
    ['Morning', 'Night', 'Evening', 'Afternoon', 'Morning'],
    index=[0, 1, 2, 3, 4],
    name='Time_of_Day'
)

In [28]:
langs

0      Morning
1        Night
2      Evening
3    Afternoon
4      Morning
Name: Time_of_Day, dtype: object

In [29]:
df['Time_of_Day']=langs

In [30]:
#Datan är bearbetad genom att adderat kolumnen Time_of_Day 

df

  Weather   Road_Type Accident_Severity Time_of_Day
0   Rainy   City Road               NaN     Morning
1   Clear  Rural Road          Moderate       Night
2   Rainy     Highway               Low     Evening
3   Clear   City Road               Low   Afternoon
4   Rainy     Highway               Low     Morning

In [31]:
# Sparar bearbetad data
df.to_csv('processed_data.csv', index=False)

In [32]:
import pandas as pd

# Läser in den sparade filen
saved_data = pd.read_csv('processed_data.csv')

# Visar de första raderna i filen
print(saved_data.head())

  Weather   Road_Type Accident_Severity Time_of_Day
0   Rainy   City Road               NaN     Morning
1   Clear  Rural Road          Moderate       Night
2   Rainy     Highway               Low     Evening
3   Clear   City Road               Low   Afternoon
4   Rainy     Highway               Low     Morning

In [33]:
import pandas as pd
import sqlite3

In [34]:
# Ansluter till SQLite-databasen
conn = sqlite3.connect('processed_data.db')
cursor = conn.cursor()

In [35]:
# Skapar en SQL-tabell om den inte redan finns

cursor.execute('''
CREATE TABLE IF NOT EXISTS traffic_accidents (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Weather TEXT,
    Road_Type TEXT,
    Accident_Severity TEXT,
    Time_of_Day TEXT
)
''')
conn.commit()

In [36]:
import pandas as pd

# Anta att man har en DataFrame som innehåller den bearbetade datan
saved_data = pd.DataFrame({
    'Weather': ['Rainy', 'Clear', 'Rainy', 'Clear', 'Rainy', 'Rainy', 'Clear', 'Rainy', 'Clear', 'Rainy', 'Rainy', 'Clear', 'Rainy', 'Clear', 'Rainy'],
    'Road_Type': ['City Road', 'Rural Road', 'Highway', 'City Road', 'Highway', 'City Road', 'Rural Road', 'Highway', 'City Road', 'Highway', 'City Road', 'Rural Road', 'Highway', 'City Road', 'Highway'],
    'Accident_Severity': [None, 'Moderate', 'Low', 'Low', 'Low', None, 'Moderate', 'Low', 'Low', 'Low', None, 'Moderate', 'Low', 'Low', 'Low'],
    'Time_of_Day': ['Morning', 'Night', 'Evening', 'Afternoon', 'Morning', 'Morning', 'Night', 'Evening', 'Afternoon', 'Morning', 'Morning', 'Night', 'Evening', 'Afternoon', 'Morning']
})

In [37]:
# Hanterar NaN-värden genom att fylla dem med ett värde (t.ex. 'Unknown')
saved_data['Accident_Severity'] = saved_data['Accident_Severity'].fillna('Unknown')

In [38]:
# Laddar bearbetad data till SQL-tabellen
saved_data.to_sql(
    name='traffic_accidents',   # Namn på tabellen
    con=conn,                   # Databasanslutning
    if_exists='append',         # Lägg till ny data
    index=False                 # Exkludera DataFrame-index
)
print("Saved data har lagts till i SQL-tabellen.")

Saved data har lagts till i SQL-tabellen.

In [39]:
# Hämtar data från tabellen
sql_query = 'SELECT * FROM traffic_accidents'
data_from_sql = pd.read_sql_query(sql_query, conn)

# Visar datan
print(data_from_sql)

     id Weather   Road_Type Accident_Severity Time_of_Day
0     1   Rainy   City Road              None     Morning
1     2   Clear  Rural Road          Moderate       Night
2     3   Rainy     Highway               Low     Evening
3     4   Clear   City Road               Low   Afternoon
4     5   Rainy     Highway               Low     Morning
..  ...     ...         ...               ...         ...
95   96   Rainy   City Road           Unknown     Morning
96   97   Clear  Rural Road          Moderate       Night
97   98   Rainy     Highway               Low     Evening
98   99   Clear   City Road               Low   Afternoon
99  100   Rainy     Highway               Low     Morning

[100 rows x 5 columns]

In [40]:
# Läser in data från SQL-tabellen
saved_data = pd.read_sql_query('SELECT * FROM traffic_accidents', conn)

# Visar datan
print(saved_data)

     id Weather   Road_Type Accident_Severity Time_of_Day
0     1   Rainy   City Road              None     Morning
1     2   Clear  Rural Road          Moderate       Night
2     3   Rainy     Highway               Low     Evening
3     4   Clear   City Road               Low   Afternoon
4     5   Rainy     Highway               Low     Morning
..  ...     ...         ...               ...         ...
95   96   Rainy   City Road           Unknown     Morning
96   97   Clear  Rural Road          Moderate       Night
97   98   Rainy     Highway               Low     Evening
98   99   Clear   City Road               Low   Afternoon
99  100   Rainy     Highway               Low     Morning

[100 rows x 5 columns]

In [41]:
# Stänger anslutningen till databasen
conn.close()

In [42]:
import unittest
import pandas as pd
import numpy as np
import sqlite3
import logging

In [43]:
def update_sql_table(dataframe, db_name='traffic_data.db'):
    try:
         # Konfigurerar loggning
        logging.basicConfig(
            filename='application.log',
            level=logging.INFO,
            format='%(asctime)s - %(levelname)s - %(message)s'
        )
        
        # Kopplar till SQLite-databasen
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        # Skapar tabell om den inte finns
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS traffic_accidents (
            id INTEGER PRIMARY KEY,
            Weather TEXT,
            Road_Type TEXT,
            Accident_Severity TEXT,
            Time_of_Day TEXT
        );
        ''')
        conn.commit()

        # Lägger till data från DataFrame till SQL-tabellen
        dataframe.to_sql(name='traffic_accidents', con=conn, if_exists='append', index=False)
        logging.info('Data successfully inserted into the database.')

    except Exception as e:
        logging.error(f"An error occurred: {str(e)}")
        print(f"Error occurred: {e}")

    finally:
        if conn:
            conn.close()
            logging.info('Database connection closed.')
            
# Uppdaterar SQL-tabellen med bearbetad data
update_sql_table(df)